html {
    scroll-behavior: smooth;
}
body {
    max-width: 1920px;
}
main {
    background-color: #455579;
    padding: 20px;
    margin-top: 70px;
}
header {
    background-color: white;
    height: 70px;
}
.logo {
    width: 100px;
    height: 50px;
}
.navbar-nav .nav-link.active {
    color: #455579;
}
.nav-link{
    color: #455579;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h5,span{
    text-align: center;
    color: white;
}
.row {
    justify-content: center;
}
.col {
    max-width: 360px;
    max-height: 400px;
    margin: 50px 20px;
}
.img-Prod {
    width: 100%;
    height: 400px;
}

.btn-comprar {
    background-color: white;
    color: #455579;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
}
.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bubbleFloat {
    cursor: pointer;
    position: fixed;
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: 22px;
    z-index: 1;
}
.bubbleFloat img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.container-maps {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.container-maps iframe {
    border-radius: 10px;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
}
.navbar {
    padding: 0px;
}

.container-cart {
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 70%;
    top: 10px;
}
.info-cart-product {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 20px;
    width: 350px;
    height: 80px;
}
.carrito {
    position: fixed;
    top: 10px;
    left: 70%;
}
#cart-producto {
    position: relative;
    top: 60px;
    background-color: white;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
}
.count-products {
    display: flex;
    position: absolute;
    background-color: #455579;
    border-radius: 100%;
    justify-content: center;
    top: 20px;
    left: 50px;
    width: 25px;
    height: 25px;
}
.totalPagar {
    position: absolute;
    background-color: white;
    height: 80px;
    width: 300px;
}


svg {
    width: 50px;
    height: 50px;
    color: #455579;
}

.info-cart-product span {
    color: black;
}